/* Forms */

.continue-form{
	margin:auto;
	width:20rem;
	max-width:100%;
	box-sizing:border-box;
	background-color:#fff6ee;
	font-family:sans-serif;
}

.continue-total{
	text-align:center;
	font-size:3em;
	margin:0;
}

.continue-purchase{
	margin:auto;
	display:block;
	clear:both;
	display:flex;
	justify-content:center;
	margin:.5em;
}

.continue-purchase>input{
	width:35%;
	margin:0 1%;
}

.continue-form input{
	font-size:1.25em;
	border:.2rem solid #cec5c1;
	box-shadow:none;
	padding:.15em;
}

.continue-inline-svg{
	height:1em;
	vertical-align:text-top;
}

.continue-points-info{
	background:#cec5c1;
	position:relative;
	padding:.2em;
}

.continue-points-current{
	font-size:2.5em;
	display:inline;
	margin:0;
	padding-left:.1em;
	display:flex;
    align-items:center;
}

.continue-points-goal{
	font-size:1em;
	display:inline;
	position:absolute;
	bottom:0;
	right:0;
	margin:0;
	padding:.1em;
	cursor:pointer;
}

.continue-goals{
	background-color:#fff;
}

.continue-goals-previous,
.continue-goals-next{
	background:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 40' version='1'%3E%3Cpath d='M20 0v40L0 20z' fill='%23fb7f15'/%3E%3C/svg%3E");
	border:none;
	cursor:pointer;
	margin:.25em;
	height:1em;
	width:.5em;
}

.continue-goals-previous{
	float:left;
}

.continue-goals-current{
	display:inline-block;
	margin:0;
	padding:.25em;
}

.continue-goals-current{
	margin:0;
	padding:.25em;
}

.continue-goals-next{
	float:right;
	transform:scale(-1,1);
}

.continue-current-goal-have{
	background-color:#fdd3b1;
}

.continue-goals-button-inactive{
	visibility:hidden;
	background-color:#cec5c1;
	pointer-events:none;
}

input.continue-money,
input.continue-points{
	text-align:right;
	background-position:5% 50%;
	background-size:1em;
	background-repeat:no-repeat;
	background-color:#fff;
}

input.continue-money{
	border-color:#00ba0e;
	background-image:url("money.svg");
}

input.continue-points{
	border-color:#fb7f15;
	background-image:url("logo.svg");
}

.continue-payment-methods{
	background-color:#fff;
	width:100%;
	min-height:3em;
	margin:.5em 0em;
	padding:1em 0em;
	border:.2rem solid #cec5c1;
	border-left:none;
	border-right:none;
	box-sizing:border-box;
}

.continue-payment-logo{
	display:block;
	height:3em;
	margin:auto;
}

.continue-card{
	width:75%;
	margin:auto;
	border:1px solid black;
}

.continue-input-default{
	margin:.2em auto;
	display:block;
}

.continue-message{
	text-align:center;
}

.continue-submit{
	width:100%;
	display:block;
	background-color:#fb7f15;
	color:#fff;
	font-size:1.25em;
	font-weight:bold;
	box-shadow:none;
	border:none;
	padding:.5em;
	cursor:pointer;
}

/* Tables */

.continue-users{
	padding:1em 0;
}

.continue-users table
,.continue-purchases table{
	margin:1em auto;
}

.continue-user-points{
	display:flex;
	justify-content:space-between;
}

.continue-user-credit{
	text-align:center;
	margin:0;
}

.continue-users tr{
	
}